:root {
  --font-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Wancho", serif;
  font-weight: 400;
  letter-spacing: 1.2px;
  font-style: normal;
}

main {
  padding-top: 1rem;
  padding-bottom: 5rem;
  padding-left: 2.7rem;
  padding-right: 2.7rem;
  width: 100%;
  background-color: #ffe8ba;
  h1 {
    font-size: 5rem;
    font-weight: 400;
    text-align: center;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;

    li a {
      text-decoration: none;
      color: var(--font-color);
    }
  }
}

hr {
  border: none;
  border-top: 1px solid black;
  color: var(--font-color);
  width: 100%;
  margin-top: 2rem;
}

footer {
  background-color: #ffe8ba;
  padding-top: 3rem;
}

.burger-btn {
  all: unset;
  display: none;
  cursor: pointer;
  img {
    width: 2rem;
  }
}

.logo {
  font-size: 1.4rem;
  font-weight: 400;
  cursor: pointer;
}

.cart {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  img {
    width: 1.5rem;
  }
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  gap: 2rem;
  img {
    width: 100%;
    border-radius: 50px;
  }
  h1 {
    padding-left: 9rem;
    padding-right: 9rem;
  }
}

.welcome-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15rem;
  padding-top: 4rem;
  h2 {
    font-size: 3.6rem;
    font-weight: 400;
  }
  p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.7px;
  }
}

.about {
  display: flex;
  flex-direction: column;
  padding-left: 6rem;
  gap: 1rem;
  a {
    color: var(--font-color);
    font-weight: 400;
    cursor: pointer;
  }
}

.introduce-section {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  padding-top: 10rem;
  padding-left: 10rem;
  padding-right: 10rem;
  gap: 8rem;
}

.first-square {
  img {
    width: 100%;
  }
}

.second-square-img {
  display: flex;
  justify-content: end;

  a {
    text-decoration: none;
    color: var(--font-color);
  }
  img {
    object-fit: cover;
    width: 320px;
    height: 420px;
  }
}

.price-tag {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-square-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.products {
  background-color: #e7d7f8;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2.7rem;
  padding-right: 2.7rem;
  img {
    width: 100%;
  }
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.product-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.shop-btn {
  all: unset;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.3rem 1rem;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.4s;
}

.shop-btn:hover {
  background-color: black;
  color: #e7d7f8;
}

.reviews {
  display: flex;
  flex-direction: column;

  align-items: center;

  background: url(./img/brush-background.png);
  background-size: cover;
  padding: 8rem 15rem;
  gap: 3rem;
  img {
    width: 350px;
  }
}

.reviews-logo {
  font-size: 3.6rem;
}

.reviews-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 1.4rem;
  text-align: center;
  h4 {
    font-size: 1.2rem;
  }
}

.circle-button {
  all: unset;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.circle-button img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.circle-button:hover {
  background-color: rgba(0, 0, 0, 1);
}

.circle-buttons {
  display: flex;
  gap: 1.5rem;
}

.footer-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  h1 {
    font-size: 3.6rem;
  }
  a {
    color: var(--font-color);
  }
}

.footer-img-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.7rem;
  padding-top: 3rem;
  padding-left: 2.7rem;
  padding-right: 2.7rem;
}

.footer-img {
  width: 100%;
  border-radius: 40px;
}

.footer-bottom-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 3rem 2.7rem;
}

.bottom-section-1 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  h4 {
    font-size: 1.4rem;
    cursor: pointer;
  }
  img {
    width: 1.5rem;
  }
  ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    li {
      list-style: none;
    }
  }
}

.bottom-section-2 {
  display: flex;
  align-items: center;
  ul li {
    list-style: none;
    a {
      color: var(--font-color);
    }
  }
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  input {
    outline: none;
    padding: 1.5rem 1.5rem;
    width: 300px;
    font-size: 1rem;
    border: 1px solid rgb(219, 219, 219);
  }
}

input:focus {
  border: 1px solid black;
  outline: none;
}

.sign-up {
  display: flex;
  /* flex-direction: column; */
  gap: 0.5rem;
}

.sign-up-btn {
  all: unset;
  border: 2px solid black;
  border-radius: 7px;
  padding: 1.3rem 1.5rem;
  width: 100px;
  text-align: center;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.4s;
}

.sign-up-btn:hover {
  background-color: black;
  color: #ffe8ba;
}

.decoration {
  text-decoration: underline;
  text-underline-offset: 6px;
}

@media screen and (max-width: 768px) {
  .burger-btn {
    display: inline-block;
  }
  header {
    nav {
      display: none;
    }
  }
  main {
    padding: 3rem 3rem;
    h1 {
      font-size: 3.6rem;
      text-align: center;
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }
  .title-section {
    gap: 6rem;
    img {
      object-fit: cover;
      width: 671px;
      height: 230px;
    }
    h1 {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }

  .welcome-section {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding-top: 4rem;
    h2 {
      font-size: 2.7rem;
      padding-right: 5rem;
    }
  }
  .about {
    padding: 0rem 0rem;
  }
  .introduce-section {
    align-items: center;
    grid-template-columns: 1fr;
    padding-top: 10rem;
    padding-left: 0rem;
    padding-right: 0rem;
    gap: 1rem;
  }
  .first-square {
    img {
      width: 70%;
      height: 350px;
      object-fit: cover;
    }
  }
  .second-square-img {
    img {
      width: 380px;
      height: 500px;
      align-items: end;
    }
  }
  .products {
    grid-template-columns: 1fr 1fr;
    padding: 4rem 2rem;
  }
  .product-3 {
    display: none;
  }
  .reviews {
    padding: 0rem 0rem;
    img {
      width: 250px;
    }
  }
  .reviews-logo {
    font-size: 2.7rem;
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .reviews-about {
    padding-left: 9rem;
    padding-right: 9rem;
  }
  .circle-buttons {
    padding-bottom: 4rem;
  }
  .footer-img-row {
    grid-template-columns: 1fr 1fr;
  }
  .footer-img {
    height: 180px;
    object-fit: cover;
  }
  .footer-bottom-section {
    grid-template-columns: 1fr;
    padding-right: 10rem;
    padding-bottom: 15rem;
  }
  .bottom-section-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 4rem;
  }
  .sign-up-form {
    padding-top: 1.5rem;
  }
  /* .sign-up {
    flex-direction: column;
    gap: 2rem;
  } */
}
